workflow-templates/n8n-execution-trigger.json
{
  "name": "Homelab Execution Trigger",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops-execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ops-execute",
      "name": "Execution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [220, 280],
      "webhookId": "homelab-ops-execute"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nif (!body.window || !Array.isArray(body.approved_services)) { throw new Error('window and approved_services are required'); }\nbody.target = body.target || 'maintenance';\nreturn [{ json: body }];"
      },
      "id": "validate-body",
      "name": "Validate Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ops-api:9080/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Ops-Token",
              "value": "={{$env.OPS_API_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "call-ops-controller",
      "name": "Call Ops Controller",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', window: $json.window, approved_services: $json.approved_services } }}",
        "options": {}
      },
      "id": "respond-exec",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 280]
    }
  ],
  "connections": {
    "Execution Webhook": {
      "main": [
        [
          {
            "node": "Validate Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Body": {
      "main": [
        [
          {
            "node": "Call Ops Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ops Controller": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
